/composeApp/build/generated/compose/resourceGenerator/kotlin/androidMainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ActualResourceCollectors.kt
/composeApp/build/generated/compose/resourceGenerator/kotlin/iosArm64MainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ActualResourceCollectors.kt
/composeApp/build/generated/compose/resourceGenerator/kotlin/iosSimulatorArm64MainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ActualResourceCollectors.kt
/composeApp/build/generated/compose/resourceGenerator/kotlin/iosX64MainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ActualResourceCollectors.kt
/composeApp/build/generated/compose/resourceGenerator/kotlin/jvmMainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ActualResourceCollectors.kt
/.idea/aws.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.9/checksums/checksums.lock
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-appleMain-RGnYqA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-commonMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-hashFunctions-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-nativeMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-nonJvmMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-systemFileSystemMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-unixMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-zlibMain-ha3VpQ.klib
/.idea/compiler.xml
/composeApp/build/generated/compose/resourceGenerator/preparedResources/commonMain/composeResources/drawable/compose-multiplatform.xml
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/classes/org/gradle/accessors/dm/ComposeAppProjectDependency.class
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/sources/org/gradle/accessors/dm/ComposeAppProjectDependency.java
/.gradle/config.properties
/.idea/deploymentTargetSelector.xml
/composeApp/build/generated/compose/resourceGenerator/kotlin/commonMainResourceAccessors/solarpanelcontrolapp/composeapp/generated/resources/Drawable0.commonMain.kt
/.gradle/8.9/executionHistory/executionHistory.bin
/.gradle/8.9/executionHistory/executionHistory.lock
/composeApp/build/generated/compose/resourceGenerator/kotlin/commonMainResourceCollectors/solarpanelcontrolapp/composeapp/generated/resources/ExpectResourceCollectors.kt
/.gradle/file-system.probe
/.gradle/8.9/fileHashes/fileHashes.bin
/.gradle/8.9/fileHashes/fileHashes.lock
/.gradle/8.9/dependencies-accessors/gc.properties
/.gradle/8.9/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.github.davidepianca98-kmqtt-client-0.4.8-commonMain-joRleg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.github.davidepianca98-kmqtt-client-0.4.8-posixMain-joRleg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.github.davidepianca98-kmqtt-common-0.4.8-commonMain-d877Kg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.github.davidepianca98-kmqtt-common-0.4.8-posixMain-d877Kg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-commonMain-D1G_KA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-darwinMain-Tv56Xg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-iosMain-Tv56Xg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-nativeMain-D1G_KA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-nonJvmMain-D1G_KA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.matthewnelson.kmp-file-file-0.1.1-unixMain-D1G_KA.klib
/.gradle/8.9/fileChanges/last-build.bin
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxTestLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxTestVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$ComposeVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$KmqttLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinTestLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxCoroutinesLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$OrgEclipseLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$OrgEclipsePahoClientLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$OrgEclipsePahoLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$OrgLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$SslLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$SslOpensslIosLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$SslOpensslIosSimulatorLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$SslOpensslLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs$WildflyLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibs.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxTestLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxTestVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ComposeVersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KmqttLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinTestLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxCoroutinesLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OrgEclipseLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OrgEclipsePahoClientLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OrgEclipsePahoLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$OrgLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$SslLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$SslOpensslIosLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$SslOpensslIosSimulatorLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$SslOpensslLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$WildflyLibraryAccessors.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/local.properties
/.gradle/8.9/checksums/md5-checksums.bin
/.gradle/8.9/dependencies-accessors/393d6c963bde0cce13b82bf1f162310e748cf7bb/metadata.bin
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/metadata.bin
/.idea/misc.xml
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-common-2.8.3-commonMain-FPlmfg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-common-2.8.3-nonJvmMain-FPlmfg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-commonMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-nativeMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-nonJvmMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-compose-2.8.3-commonMain-eB6IaQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-compose-2.8.3-nonAndroidMain-eB6IaQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-commonMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-nativeMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-nonJvmMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-commonMain-TojQLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-jsNativeMain-TojQLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-nativeMain-RuOUtg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-commonMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-jbMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-jsNativeMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-uikitMain-uWuQcA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.annotation-internal-annotation-1.7.0-commonMain-BD0V2w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.annotation-internal-annotation-1.7.0-nonJvmMain-BD0V2w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-commonMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-jbMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-jsNativeMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-blockingMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-commonMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-iosMain-mlvQUA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-nativeMain-mlvQUA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-skikoMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-ui-tooling-preview-1.7.0-commonMain--i3iSw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-commonMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-darwinMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-jsNativeMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-nativeMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-skikoMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-uikitMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-commonMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-jsNativeMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-skikoMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-uikitMain-GYqBaA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-1.7.0-commonMain-G6kTFA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-1.7.0-jsNativeMain-G6kTFA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-1.7.0-nativeMain-hgkVgQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-1.7.0-skikoMain-G6kTFA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-icons-core-1.7.0-commonMain-OY6u5w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-ripple-1.7.0-commonMain-hYj_-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-ripple-1.7.0-jbMain-hYj_-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-commonMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-darwinMain-bWTFyg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-jbMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-jsNativeMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-nativeMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-posixMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-uikitMain-bWTFyg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-saveable-1.7.0-commonMain-dToAUQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-commonMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-darwinMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-jsNativeMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-nativeMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-skikoMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-uikitMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-geometry-1.7.0-commonMain-CwQ9Eg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-commonMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-jsNativeMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-nativeMain-aqjVUg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-skikoExcludingWebMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-skikoMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-commonMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-darwinMain-soKQsQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-jsNativeMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-nativeMain-soKQsQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-skikoMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-uikit-1.7.0-uikitMain-aNVDjg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-commonMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-jbMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-jsNativeMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-commonMain-3-t5Ow.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-nonJvmMain-3-t5Ow.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-uikitMain-V6MLCQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.0.21-commonMain-WPEnbA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.0.21-annotationsCommonMain-NjL0Sw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.0.21-assertionsCommonMain-NjL0Sw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.24.0-commonMain-TbVmHQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.24.0-nativeMain-TbVmHQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-commonMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-concurrentMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-nativeMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-test-1.6.4-commonMain-AuQmhQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-test-1.6.4-nativeMain-AuQmhQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.1-commonMain-ilTmRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.1-darwinMain-O4UcJA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.1-nativeMain-ilTmRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.1-tzdbOnFilesystemMain-ilTmRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.1-tzfileMain-ilTmRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.6.2-commonMain-0z2eOA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.6.2-nativeMain-0z2eOA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-commonMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-darwinMain-SvRtdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-iosMain-SvRtdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-nativeJsMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-nativeMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-uikitMain-SvRtdQ.klib
/.idea/other.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/composeApp/build/generated/compose/resourceGenerator/kotlin/commonResClass/solarpanelcontrolapp/composeapp/generated/resources/Res.kt
/.gradle/8.9/fileHashes/resourceHashesCache.bin
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/classes/org/gradle/accessors/dm/RootProjectAccessor.class
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/sources/org/gradle/accessors/dm/RootProjectAccessor.java
/.gradle/8.9/checksums/sha1-checksums.bin
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/classes/org/gradle/accessors/dm/SolarPanelControlAppProjectDependency.class
/.gradle/8.9/dependencies-accessors/c84c5ef430d3d61082ae85fc4bb04c7405dfdced/sources/org/gradle/accessors/dm/SolarPanelControlAppProjectDependency.java
/.idea/vcs.xml
/.idea/workspace.xml
